apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: web
  labels:
    service: web
spec:
  strategy:
    canary:
      steps:
      - setWeight: 20
      - pause: {duration: 10} 
      - analysis:
          templates:
          - templateName: canary-check
      - setWeight: 40
      - pause: {duration: 10} 
      - setWeight: 60
      - pause: {duration: 10} 
      - setWeight: 80
      - pause: {duration: 10} 
  replicas: 1
  selector:
    matchLabels:
      service: web
  template:
    metadata:
      labels:
        service: web
    spec:
      {{ if .Values.psp.enabled }}
      serviceAccountName: robot-shop
      {{ end }}
      containers:
      - name: web
        image: robotshop/rs-web:latest
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- if .Values.eum.key }}
        env:
        - name: INSTANA_EUM_KEY
          value: {{ .Values.eum.key }}
        - name: INSTANA_EUM_REPORTING_URL
          value: {{ .Values.eum.url }}
        {{- end}}
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 50Mi
      restartPolicy: Always
      {{- with .Values.web.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: web
#   labels:
#     service: web
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       service: web
#   template:
#     metadata:
#       labels:
#         service: web
#     spec:
#       {{ if .Values.psp.enabled }}
#       serviceAccountName: robot-shop
#       {{ end }}
#       containers:
#       - name: web
#         image: ninadocker73/robot-shop-web:1.0
#         imagePullPolicy: {{ .Values.image.pullPolicy }}
#         {{- if .Values.eum.key }}
#         env:
#         - name: INSTANA_EUM_KEY
#           value: {{ .Values.eum.key }}
#         - name: INSTANA_EUM_REPORTING_URL
#           value: {{ .Values.eum.url }}
#         {{- end}}
#         ports:
#         - containerPort: 8080
#         resources:
#           limits:
#             cpu: 200m
#             memory: 100Mi
#           requests:
#             cpu: 100m
#             memory: 50Mi
#       restartPolicy: Always
#       {{- with .Values.web.affinity }}
#       affinity:
#         {{- toYaml . | nindent 8 }}
#       {{- end }}
#       {{- with .Values.web.nodeSelector }}
#       nodeSelector:
#         {{- toYaml . | nindent 8 }}
#       {{- end }}
#       {{- with .Values.web.tolerations }}
#       tolerations:
#         {{- toYaml . | nindent 8 }}
#       {{- end }}
